version: '3.8'

services:
  mariadb:
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: foro
      MYSQL_USER: sumaxalex81
      MYSQL_PASSWORD: Jupiter1
    volumes:
      - mariadb_data:/var/lib/mysql

  web:
    image: sumaxalex81/proyecto_docker:v1
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - mariadb

volumes:
  mariadb_data: {}
